/* body {
    height: 750px;
    width: 1200px;
} */



#section1 {
    display: flex;
    gap: 40px;
    /* padding: 20px; */
    align-items: center;
    justify-content: center;
}

#section2 {
    display: flex;
    justify-content: center;
    /* padding: 20px; */
}

img {
    gap: 20px;
}