body {
    background-color: #e7e7e7;
}

h1 {
    font-family: "jua";
    font-size: 48px;
    color: rgb(49, 10, 105);
    background-color:rgb(208, 173, 196);
    margin-top: auto;
    padding: 48px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

h2 {
    font-family: outfit;
    font-size: 30px;
    color: #644280;
    font-weight: 700px;
    margin-bottom: 15px;
    margin-top: 15px;
}

p {
    font-family: "fredoka";
    font-size: 16px;
    font-weight: 400px;
    color: #644280;
    /* max-width: 500px; */
    line-height: 20px;
    /* margin-top: 10px */
    
}

article {
    background-color:#FFF6EB;
    padding: 35px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 10px;
}

a {
    color: #28561A;
    font-weight: 700px;
}